<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pettern_ver01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/petternicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"></activity>
        <activity android:name=".LoginRegister.MainActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginRegister.RegisterActivity" />
        <activity android:name=".Fragments.ProfileFragment.UserProfile" />
        <activity android:name=".Fragments.ProfileFragment.AddPetActivity" />
        <activity android:name=".Fragments.ProfileFragment.PetListingActivity" />
        <activity android:name=".Fragments.ProfileFragment.PetUpdateDeleteActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>